<!DOCTYPE html>
{% extends 'stolica/main.html' %}

{% block content %}



<hr class = "row">

    <div class="col-md-5"></div>
    <h2>Stolice:</h2>

    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>Model</th>
                <th>Dimenzije</th>
                <th>Cena</th>
                <th>Materijal</th>
            </tr>
            {% for i in stolica %}
            <tr>
                 <td>{{i.model}}</td>
                 <td>{{i.dimenzije}}</td>
                 <td>{{i.cena_DIN}}</td>
                 <td>{{i.proizvedeno_Od}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <hr>

    <div class="center">
     <div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="total-stolica">
                <div class="card-header">
                    <h5 class="card-title">Ukupno modela Stolica</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_stolica }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="col-md-7"></div>
    <h2>Drvo:</h2>
    <div class = "card card-body">
        <table class="table table-sm">
            <tr>
                <th>vrsta</th>
                <th>cena_DIN</th>

            {% for i in drvo %}
            <tr>
                 <td>{{i.vrsta}}</td>
                 <td>{{i.cena_DIN}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <hr>

</div>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="total-drvo">
                <div class="card-header">
                    <h5 class="card-title">Ukupno proizvoda od Drveta</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_drvo }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="cena-drvo">
                <div class="card-header">
                    <h5 class="card-title">500din cena</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ cena }}</h3>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

