{% extends 'stolica/main.html' %}

{% block content %}

    {% include 'stolica/statusUser.html' %}

<hr class = "row">

    <div class="col-md-5"></div>
    <h2>USER panel:</h2>

    <hr>

    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>username</th>
                <th>email</th>
                <th>password1</th>
            </tr>
            {% for i in user %}
            <tr>
                 <td>{{i.username}}</td>
                 <td>{{i.email}}</td>
                 <td>{{i.password1}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
